<section class="container">
  <header>
    <!-- The navbar for the wizard -->
    <c-nav layout="fill" variant="pills">
      <ng-container *ngFor="let step of steps; let i = index;">
        <div>
          
          {{ step.label | json }}
        </div>    
        <c-nav-item>
          <a [active]="selectedIndex === i" (click)="selectedIndex = i" cNavLink>
            <ng-container *ngIf="step.stepLabel; else showLabelText" [ngTemplateOutlet]="step.stepLabel.template">
            </ng-container>
            <ng-template #showLabelText>
              {{ step.label }}
            </ng-template>
          </a>
        </c-nav-item>
      </ng-container>
    </c-nav>
  </header>

  <div class="body">
    <ng-container [ngTemplateOutlet]="selected?.content ?? null"></ng-container>
  </div>
  <ng-container [ngTemplateOutlet]="stepFooter" [ngTemplateOutletContext]="{
    controls: stepControls,
    index: selectedIndex
  }">
  </ng-container>
</section>

<ng-template let-controls="controls" let-index="index" #stepFooter>
  <footer class="my-footer">
      <!--<div>
          selected index: {{index}}
      </div>
      <div>
          step value: {{controls[index].value | json}}
      </div>
      <div>
          step validity: {{controls[index].valid}}
      </div>-->

      <c-button-toolbar aria-label="navigate submit and reset" role="group">
        <c-button-group aria-label="navigate" class="me-2" role="group">
          <button cButton color="primary" *ngIf="index > 0" class="mt-3" cdkStepperPrevious>Previous</button>
          <button cButton type="button" *ngIf="index < controls.length - 1" [disabled]="controls[index].valid === false && config.disableSubmitWhenInvalid === true" class="mt-3" color="primary" cdkStepperNext (click)="onNext()">Next</button>
          <button cButton type="button" class="mt-3" color="danger" (click)="onResetCurrentStep()">Reset</button>
        </c-button-group>
        <c-button-group aria-label="reset and submit" class="me-2" role="group">
          <button cButton type="submit" *ngIf="index === controls.length - 1" [disabled]="isFormValid && config.disableSubmitWhenInvalid === true" class="mt-3" color="primary" (click)="onNext()" cdkStepperNext>Submit</button>
        </c-button-group>
      </c-button-toolbar>
      

      <!--<div class="buttons">
        <button cButton color="primary" *ngIf="index > 0"  class="mt-3" cdkStepperPrevious>
          <span> Previous</span>
        </button>
  
        <button cButton class="mt-3" color="danger">Reset</button>
  
        <button cButton *ngIf="index < controls.length - 1" [disabled]="controls[index].valid === false" class="mt-3" color="primary" cdkStepperNext>Next</button>

        <button cButton type="submit" *ngIf="index === controls.length - 1" [disabled]="isFormValid" class="mt-3" color="primary" cdkStepperNext>Submit</button>
      </div>-->
    </footer>
</ng-template>