<c-card class="mb-4">
    <c-card-body>
        
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="card-title" id="users">Agregar Indicador</h4>     
    </div>

    <form cForm>
      <div>
        <label cLabel for="exampleFormControlInput1">Nombre</label>
        <input cFormControl
               id="exampleFormControlInput1"
               type="text"
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="name"
               value="{{ name }}"
        />
      </div>
      <div>
        <label cLabel for="exampleFormControlInput1">Index</label>
        <input cFormControl
               id="exampleFormControlInput1"
               type="number"
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="index"
               value="{{ index }}"
        />
      </div>
      <div>
        <label cLabel for="exampleFormControlInput1">Descripción</label>
        <input cFormControl
               id="exampleFormControlInput1"
               type="text"
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="description"
               value="{{ description }}"
        />
      </div>

      <a cButton (click)="addIndicator()" routerLink="/indicators" routerLinkActive="active" color="success" class="text-white ms-md-2 mb-3">
        Guardar
      </a>
    </form>

    </c-card-body>
    </c-card>
