<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col>
        <!-- The AG Grid component -->
        <ag-grid-angular
          *ngIf="rowData.length > 0"
          class="ag-theme-quartz-auto-dark"
          style="height: 500px;"
          [rowData]="rowData"
          [columnDefs]="colDefs"
          [pagination]="true"
          [paginationPageSizeSelector]="[25, 50, 100]"
          [paginationPageSize]="25">
        </ag-grid-angular>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>