<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <!-- <app-docs-components href="forms/form-control" title="Form Control" /> -->
    <c-card class="mb-4">
      <c-card-header>
        <strong><h1>{{id ? "Edit Product" : "Add Product"}}</h1></strong>
      </c-card-header>
      <c-card-body>
        <!-- <app-docs-example href="forms/form-control"> -->
          <form [formGroup]="form" (submit)="handleEditAddProduct()" cForm>
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Title</label>
                <input cFormControl
                     id="exampleFormControlInput1"
                     placeholder="Enter Title"
                     formControlName="title"
                     type="text"
                  />
            </div>

            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Rating</label>
              <input cFormControl
                     id="exampleFormControlInput1"
                     placeholder="Enter Rating"
                     formControlName="rating"
                     type="number"
              />
            </div>

            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Price</label>
              <input cFormControl
                     id="exampleFormControlInput1"
                     placeholder="Enter Price"
                     formControlName="price"
                     type="number"
              />
            </div>

            <div class="mb-3">
              <label cLabel for="exampleFormControlTextarea1">Description</label>
              <textarea cFormControl id="exampleFormControlTextarea1"
                        rows="3"
                        formControlName="description"></textarea>
            </div>

            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Select Category</label>
             <select  cFormControl  id="category" name="category" formControlName="category">
              <option value="beauty">Beauty</option>
              <option value="fragrances">Fragrances</option>
              <option value="furniture">Furniture</option>
              <option value="groceries">Groceries</option>
            </select>
            </div>

            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Image</label>
                <div class="mb-3" style="display: flex; flex-direction: column;">
                      <div>
                      <!-- <button (click)="filepicker.click()">Pick Image</button> -->
                      <input type="file" (change)="onImagePicked($event)">
                    </div>
                    <!-- @if (!imagePreview) {
                            <img [src]="'../../assets/teacher.png'" alt="">
                    } -->
                    @if (imagePreview !== '' && imagePreview && form.get('image').valid) {
                        <div class="image-preview">
                          <img [src]="imagePreview" [alt]="form.value.title">
                        </div>
                    }@else if(updatedImagePreview){
                        <div class="image-preview">
                          <img [src]="updatedImagePreview" [alt]="form.value.title">
                        </div>
                    }

              </div>

            </div>

            <div class="mb-3">
              <button type="submit" cButton class="mt-3" color="primary" >{{id? "Edit Product" : "Add Product"}}</button>
             </div>
          </form>
        <!-- </app-docs-example> -->
      </c-card-body>
    </c-card>
  </c-col>

</c-row>
