<c-card class="mb-4">
  <c-card-header>
    Theme colors
  </c-card-header>
  <c-card-body>
    <c-row>
      <app-theme-color color="primary">
        <h6>Brand Primary Color</h6>
      </app-theme-color>
      <app-theme-color color="secondary">
        <h6>Brand Secondary Color</h6>
      </app-theme-color>
      <app-theme-color color="success">
        <h6>Brand Success Color</h6>
      </app-theme-color>
      <app-theme-color color="danger">
        <h6>Brand Danger Color</h6>
      </app-theme-color>
      <app-theme-color color="warning">
        <h6>Brand Warning Color</h6>
      </app-theme-color>
      <app-theme-color color="info">
        <h6>Brand Info Color</h6>
      </app-theme-color>
      <app-theme-color color="light">
        <h6>Brand Light Color</h6>
      </app-theme-color>
      <app-theme-color color="dark">
        <h6>Brand Dark Color</h6>
      </app-theme-color>
    </c-row>
  </c-card-body>
</c-card>
