<c-card class="mb-4">
  <c-card-header>
    Product Detail
  </c-card-header>
  <c-card-body>
    <c-row>
        <div style="border: 1px solid black;padding: 10px;border-radius: 10px; background-color: white;width: auto; height: auto;">
          @if(title === null || description === null || price === null || rating === null || category === null){
             <h3><span style="color: red;">No Product Detail Found</span></h3>
          }@else {
            <img [src]="image" style="background-size: contain; height: 100px;" [alt]="title">
            <h6><span style="color: red;">Product Title:</span> {{title}}</h6>
            <h6><span style="color: red;">Product Description:</span> {{description}}</h6>
            <h6><span style="color: red;">Product Price:</span> {{price}}</h6>
            <h6><span style="color: red;">Product Rating:</span> {{rating}}</h6>
            <h6><span style="color: red;">Product Category:</span> {{category}}</h6>
          }
        </div>
      </c-row>
  </c-card-body>
</c-card>
