@if(isLoading){
<div class="spinner-overlay">
    <div class="loader"></div>
</div>
}
<c-card class="mb-4">
  <c-card-header>
    Shopping Cart
  </c-card-header>
  <c-card-body>
    <!-- {{products}} -->
    @for(product of products; track product._id){
       @if(product){
           <div style="border-radius: 10px; padding: 5px; margin: 10px;">
               <img [src]="product.image" [alt]="product.title" width="300px" height="200px">
              <div>
                 <p>Title:  {{product.title}}</p>
                 <p>Price : {{product.price}}</p>
              </div>
               <button (click)="handleRemoveProduct(product._id)">Remove</button>
           </div>
       }@else{
          <p>No Product Found!!</p>
       }
    }
  </c-card-body>
  @if(products && totalPrice){
      <div style="padding: 5px;">
        <h5>Subtotal ({{products?.length}} items)
        <span>{{"\u20B9"}} {{totalPrice}}</span></h5>
        <button style="background:#ebd534;color:black;padding:10px 20px; borderRadius:50px">Proceed To Pay</button>
      </div>
  }@else{
      <!-- <p style="color: red; padding: 10px;">No Product Found!!</p> -->
  }
</c-card>
