<div class="fade-in">
  <c-card>
    <c-card-header>
      {{ title }}
      <!-- <app-docs-link href="https://github.com/coreui/coreui-icons" text="GitHub"></app-docs-link> -->
      <img class="img-FPT" src="https://firebasestorage.googleapis.com/v0/b/img-school-c0af5.appspot.com/o/th%20(3).jpg?alt=media&token=c0b3e882-02f8-4d94-a67c-06cd06066f73&_gl=1*1dc8mk7*_ga*MjA3NzQ3NjQ2OS4xNjc4NTE2MDY3*_ga_CW55HF8NVT*MTY5NTk3ODkxMC4xOS4xLjE2OTU5Nzg5MjEuNDkuMC4w"/>
    </c-card-header>
    <c-card-body>
      <!-- <c-row class="text-center">
        <c-col *ngFor="let icon of icons" class="mb-5" md="3" sm="4" xl="2" xs="6">
          <svg cIcon [name]="icon[0]" [title]="icon[0]" size="3xl"></svg>
          <div>{{ toKebabCase(icon[0]) }}</div>
        </c-col>
      </c-row> -->
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">
  <c-card>
    <c-card-header>
      {{ title }}
      <!-- <app-docs-link href="https://github.com/coreui/coreui-icons" text="GitHub"></app-docs-link> -->
      <img class="img-FPT" src="https://firebasestorage.googleapis.com/v0/b/img-school-c0af5.appspot.com/o/th%20(4).jpg?alt=media&token=d5219cef-9133-4ebb-9b47-10973882389c&_gl=1*1ak6fn7*_ga*MjA3NzQ3NjQ2OS4xNjc4NTE2MDY3*_ga_CW55HF8NVT*MTY5NTk3ODkxMC4xOS4xLjE2OTU5NzkyNzIuNjAuMC4w"/>
    </c-card-header>
    <c-card-body>
      <!-- <c-row class="text-center">
        <c-col *ngFor="let icon of icons" class="mb-5" md="3" sm="4" xl="2" xs="6">
          <svg cIcon [name]="icon[0]" [title]="icon[0]" size="3xl"></svg>
          <div>{{ toKebabCase(icon[0]) }}</div>
        </c-col>
      </c-row> -->
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">
  <c-card>
    <c-card-header>
      {{ title }}
      <!-- <app-docs-link href="https://github.com/coreui/coreui-icons" text="GitHub"></app-docs-link> -->
      <img class="img-FPT" src="https://firebasestorage.googleapis.com/v0/b/img-school-c0af5.appspot.com/o/th%20(5).jpg?alt=media&token=d8c09fe8-e188-428e-b608-be5adc002115&_gl=1*dsbacm*_ga*MjA3NzQ3NjQ2OS4xNjc4NTE2MDY3*_ga_CW55HF8NVT*MTY5NTk3ODkxMC4xOS4xLjE2OTU5NzkzMTguMTQuMC4w"/>
    </c-card-header>
    <c-card-body>
      <!-- <c-row class="text-center">
        <c-col *ngFor="let icon of icons" class="mb-5" md="3" sm="4" xl="2" xs="6">
          <svg cIcon [name]="icon[0]" [title]="icon[0]" size="3xl"></svg>
          <div>{{ toKebabCase(icon[0]) }}</div>
        </c-col>
      </c-row> -->
    </c-card-body>
  </c-card>
</div>
