table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.card-data {
  max-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-card {
  padding: 10px;
  margin: 10px;
  background: rgb(192, 105, 102);
}
