<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <h4 class="card-title text-center" id="users">Gestión de Usuarios</h4>
        <div class="d-flex justify-content-between align-items-center">
          <input
            type="text"
            class="form-control w-25 ms-md-2 mb-3"
            placeholder="Buscar..."
          />
          <c-dropdown>
            <button
              cButton
              cDropdownToggle
              class="form-control ms-md-2 mb-3"
              color="dark"
            >
              Filtrado por departamento
            </button>
            <ul cDropdownMenu dark>
              <li><button cDropdownItem>Departamento 1</button></li>
              <li><button cDropdownItem>Departamento 2</button></li>
              <li><button cDropdownItem>Departamento 3</button></li>
            </ul>
          </c-dropdown>
          <c-dropdown>
            <button
              cButton
              cDropdownToggle
              class="form-control ms-md-2 mb-3"
              color="dark"
            >
              Filtrado por roles
            </button>
            <ul cDropdownMenu dark>
              <li><button cDropdownItem>Rol 1</button></li>
              <li><button cDropdownItem>Rol 2</button></li>
              <li><button cDropdownItem>Rol 3</button></li>
            </ul>
          </c-dropdown>
          <a
            cButton
            routerLink="/addusers"
            routerLinkActive="active"
            color="success"
            class="text-white ms-md-2 mb-3"
          >
            Agregar Usuario
          </a>
        </div>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary text-center">Nombre</th>
              <th class="bg-body-tertiary text-center">Departamento</th>
              <th class="bg-body-tertiary text-center">Correo</th>
              <th class="bg-body-tertiary text-center">Rol</th>
              <th class="bg-body-tertiary text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            @for (user of users| paginate : { itemsPerPage: pagination.take,
            currentPage: pagination.page, totalItems:pagination.itemCount };
            track user.id; let i = $index) {
            <tr>
              <td class="text-center">
                {{ user.name }}
              </td>
              <td class="text-center">
                {{
                  user.department.name
                    ? user.department.name
                    : "No se le ha asignado un departamento"
                }}
              </td>
              <td class="text-center">
                {{ user.email }}
              </td>
              <td class="text-center">
                {{ user.role }}
              </td>
              <td class="text-center">
                <div class="fw-semibold text-nowrap">
                  <a
                    cButton
                    (click)="redirectToEdit(user.id)"
                    color="warning"
                    variant="outline"
                    class="mx-1"
                  >
                    <svg cIcon class="icon icon-lg" name="cilPencil"></svg>
                  </a>
                  <button
                    cButton
                    [cModalToggle]="staticBackdropModal.id"
                    (click)="toggleLiveDemo(user.id)"
                    color="danger"
                    variant="outline"
                    class="mx-1"
                  >
                    <svg cIcon class="icon icon-lg" name="cilTrash"></svg>
                  </button>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>

        <div class="pagination-container">
          <pagination-controls
            (pageChange)="setPage($event)"
            previousLabel=""
            nextLabel=""
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
          ></pagination-controls>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-modal
  #staticBackdropModal
  backdrop="static"
  id="staticBackdropModal"
  alignment="center"
>
  <c-modal-header>
    <h5 cModalTitle class="float-center">
      ¿Estás seguro de eliminar este usuario?
    </h5>
    <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Una vez eliminado no podra ser recuperado</c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="staticBackdropModal.id" cButton color="secondary">
      Cerrar
    </button>
    <button
      cButton
      (click)="deleteUser()"
      [cModalToggle]="staticBackdropModal.id"
      color="primary"
    >
      Aceptar
    </button>
  </c-modal-footer>
</c-modal>

<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible"
    [class]="toastClass"
  >
    <c-toast-body>
      <p>{{ toastMessage }}</p>
      <c-progress thin>
        <c-progress-bar [value]="percentage"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </c-toast>
</c-toaster>
