<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          3d Switch
        </div>
        <div class="card-body">
          <label class="switch switch-3d switch-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-3d switch-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-3d switch-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-3d switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-3d switch-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-3d switch-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch default
        </div>
        <div class="card-body">
          <label class="switch switch-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch default - pills
        </div>
        <div class="card-body">
          <label class="switch switch-pill switch-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch outline
        </div>
        <div class="card-body">
          <label class="switch switch-outline-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-outline-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-outline-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-outline-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-outline-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-outline-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch outline - pills
        </div>
        <div class="card-body">
          <label class="switch switch-pill switch-outline-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-outline-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-outline-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-outline-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-outline-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-outline-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch outline alternative
        </div>
        <div class="card-body">
          <label class="switch switch-outline-primary-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-outline-secondary-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-outline-success-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-outline-warning-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-outline-info-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-outline-danger-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch outline alternative - pills
        </div>
        <div class="card-body">
          <label class="switch switch-pill switch-outline-primary-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-outline-secondary-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-outline-success-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-outline-warning-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-outline-info-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-pill switch-outline-danger-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch with text
        </div>
        <div class="card-body">
          <label class="switch switch-label switch-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch with text - pills
        </div>
        <div class="card-body">
          <label class="switch switch-label switch-pill switch-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch with text outline
        </div>
        <div class="card-body">

          <label class="switch switch-label switch-outline-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch with text outline - pills
        </div>
        <div class="card-body">
          <label class="switch switch-label switch-pill switch-outline-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch with text outline alternative
        </div>
        <div class="card-body">
          <label class="switch switch-label switch-outline-primary-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-secondary-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-success-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-warning-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-info-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-danger-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch with text outline alternative - pills
        </div>
        <div class="card-body">
          <label class="switch switch-label switch-pill switch-outline-primary-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-secondary-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-success-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-warning-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-info-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-danger-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch with icon
        </div>
        <div class="card-body">
          <label class="switch switch-label switch-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch with icon - pills
        </div>
        <div class="card-body">
          <label class="switch switch-label switch-pill switch-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch with icon outline
        </div>
        <div class="card-body">
          <label class="switch switch-label switch-outline-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch with icon outline - pills
        </div>
        <div class="card-body">
          <label class="switch switch-label switch-pill switch-outline-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch with icon outline alternative
        </div>
        <div class="card-body">
          <label class="switch switch-label switch-outline-primary-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-secondary-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-success-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-warning-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-info-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-outline-danger-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Switch with icon outline alternative - pills
        </div>
        <div class="card-body">
          <label class="switch switch-label switch-pill switch-outline-primary-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-secondary-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-success-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-warning-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-info-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-outline-danger-alt">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Sizes
        </div>
        <div class="card-body p-0">
          <table class="table table-hover table-striped table-align-middle mb-0">
            <thead>
              <th>Size</th>
              <th>Example</th>
              <th>CSS Class</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Large
                </td>
                <td>
                  <label class="switch switch-lg switch-3d switch-primary">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider"></span>
                  </label>
                </td>
                <td>
                  Add following class <code>.switch-lg</code>
                </td>
              </tr>
              <tr>
                <td>
                  Normal
                </td>
                <td>
                  <label class="switch switch-3d switch-primary">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider"></span>
                  </label>
                </td>
                <td>
                  -
                </td>
              </tr>
              <tr>
                <td>
                  Small
                </td>
                <td>
                  <label class="switch switch-sm switch-3d switch-primary">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider"></span>
                  </label>
                </td>
                <td>
                  Add following class <code>.switch-sm</code>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
