<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true" class="border-bottom px-4">
    <button
      [cSidebarToggle]="sidebarId()"
      aria-label="Toggle sidebar navigation"
      cHeaderToggler
      class="btn"
      style="margin-inline-start: -14px"
      toggle="visible"
    >
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>
    <c-search-button
      (trigger)="searchVisible.set(true)"
      aria-controls="app-header-search-modal"
      aria-label="Open search dialog"
      class="d-none d-sm-flex"
      shortcut="meta+k,ctrl+k"
    />
    <c-header-nav class="d-none d-md-flex ms-auto">
      <a cNavLink>
        <svg cIcon class="my-1" name="cilBell" size="lg"></svg>
      </a>
      <a cNavLink>
        <svg cIcon class="my-1" name="cilList" size="lg"></svg>
      </a>
      <a cNavLink>
        <svg cIcon class="my-1" name="cilEnvelopeOpen" size="lg"></svg>
      </a>
    </c-header-nav>

    <c-header-nav class="ms-auto ms-md-0">
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
      <ng-container *ngTemplateOutlet="themeDropdown" />
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
    </c-header-nav>

    <c-header-nav class="mx-0">
      <ng-container *ngTemplateOutlet="userDropdown" />
    </c-header-nav>
  </c-container>
  <c-container [fluid]="true" class="px-4">
    <c-breadcrumb-router />
  </c-container>
</ng-container>
<!--</c-header>-->

<c-modal
  [(visible)]="searchVisible"
  aria-labelledby="app-header-search-modal-title"
  id="app-header-search-modal"
  portal
>
  <c-modal-header>
    <h5 cModalTitle class="w-100" id="app-header-search-modal-title">
      <input
        aria-label="Search"
        cFormControl
        placeholder="Search"
        type="search"
      />
    </h5>
  </c-modal-header>
  <c-modal-body>
    <p class="text-body-secondary small mb-2">Recent searches</p>
    <div cListGroup flush>
      <button
        cListGroupItem
        class="d-flex justify-content-between align-items-center"
      >
        CoreUI components overview
        <c-badge color="secondary" shape="rounded-pill">Open</c-badge>
      </button>
      <button
        cListGroupItem
        class="d-flex justify-content-between align-items-center"
      >
        Modal dialog examples
        <c-badge color="secondary" shape="rounded-pill">Open</c-badge>
      </button>
      <button
        cListGroupItem
        class="d-flex justify-content-between align-items-center"
      >
        Sidebar navigation customization
        <c-badge color="secondary" shape="rounded-pill">Open</c-badge>
      </button>
    </div>
  </c-modal-body>
</c-modal>

<ng-template #userDropdown>
  <c-dropdown
    [popperOptions]="{ placement: 'bottom-start' }"
    variant="nav-item"
  >
    <button
      [caret]="false"
      aria-label="Open user menu"
      cDropdownToggle
      class="py-0 pe-0"
    >
      <c-avatar
        alt="User avatar"
        shape="rounded-1"
        size="md"
        src="./assets/images/avatars/8.jpg"
        status="success"
        textColor="primary"
      />
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li>
        <h6
          cDropdownHeader
          class="bg-body-secondary text-body-secondary fw-semibold py-2 rounded-top"
        >
          Account
        </h6>
      </li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-2" name="cilBell"></svg>
          Updates
          <c-badge class="ms-2 float-end" color="info"> 42</c-badge>
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="/apps/email/inbox">
          <svg cIcon class="me-2" name="cilEnvelopeOpen"></svg>
          Messages
          <c-badge class="ms-2 float-end" color="success"> 42 </c-badge>
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-2" name="cilTask"></svg>
          Tasks
          <c-badge class="ms-2 float-end" color="danger"> 42</c-badge>
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-2" name="cilCommentSquare"></svg>
          Comments
          <c-badge class="ms-auto" color="warning"> 42</c-badge>
        </a>
      </li>
      <li>
        <h6
          cDropdownHeader
          class="bg-body-secondary text-body-secondary fw-semibold py-2"
        >
          Settings
        </h6>
      </li>
      <li></li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Settings
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-2" name="cilCreditCard"></svg>
          Payments
          <c-badge class="ms-2 float-end" color="secondary"> 42 </c-badge>
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-2" name="cilFile"></svg>
          Projects
          <c-badge class="ms-2 float-end" color="primary"> 42 </c-badge>
        </a>
      </li>
      <li>
        <hr cDropdownDivider />
      </li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Lock Account
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-2" name="cilAccountLogout"></svg>
          Logout
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>

<ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" aria-label="Open theme picker" cDropdownToggle>
      <svg [name]="icons()" cIcon size="lg"></svg>
    </button>
    <div cDropdownMenu>
      @for (mode of colorModes; track mode.name) {
        <button
          (click)="colorMode.set(mode.name)"
          [active]="colorMode() === mode.name"
          cDropdownItem
          class="d-flex align-items-center"
        >
          <svg [name]="mode.icon" cIcon class="me-2" size="lg"></svg>
          {{ mode.text }}
        </button>
      }
    </div>
  </c-dropdown>
</ng-template>
