<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <form cForm>
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title" id="users">Agregar Criterio</h4>
          </div>
          <div class="form-container">
            <div class="two-inputs-container">
              <div class="input-container">
                <label cLabel for="exampleFormControlInput1"
                  >Nombre del criterio</label
                >
                <input
                  cFormControl
                  id="name"
                  placeholder="Nombre del criterio"
                  type="text"
                  name="name"
                  [(ngModel)]="name"
                  value="{{ name }}"
                />
              </div>
              <div class="input-container">
                <label cLabel for="exampleFormControlInput1">Indicador</label>
                <select aria-label="Indicator Select" cSelect>
                  <option>Selecciona un indicador</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="input-container">
                <label cLabel for="exampleFormControlInput1">Índice</label>
                <input
                  cFormControl
                  id="name"
                  placeholder="Índice"
                  type="number"
                  name="name"
                  [(ngModel)]="name"
                  value="{{ name }}"
                />
              </div>
              <div class="input-container">
                <label cLabel for="exampleFormControlInput1">Descripción</label>
                <textarea
                  cFormControl
                  id="exampleFormControlTextarea1"
                  rows="3"
                  placeholder="Descripción del criterio"
                ></textarea>
              </div>
            </div>
            <div class="button-container">
              <button (click)="createCriterion()" cButton>Guardar</button>
            </div>
          </div>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
