<c-row>
    <c-col xs="0" md="6" lg="6">
        <h1> Il Team RaceForFederica 🛠️</h1>
    </c-col>

    <c-col xs="0" md="2" lg="2">
    </c-col>
    <c-col xs="0" md="4" lg="4">
        <div class="money-counter-wrapper">
            <span class="money-emoji">💰</span>
            <span class="money-label">Soldi raccolti:</span>
            <span id="money-counter" class="money-amount">€ 0</span>
        </div>
    </c-col>
</c-row>
<c-row class="row-spacing">
    <c-col xs="1" md="2" lg="2">
    </c-col>
    <c-col xs="10" md="8" lg="8">
        <c-row>
            <c-col xs="6" md="4" lg="4" class="mb-4 mb-md-0">
                <c-card style="width: 100%;">
                    <img [cCardImg]="'top'" src='./assets/images/avatars/redmamba_99_.png' alt="Paolo Celada's avatar"/>
                    <c-card-body style="height: 100%;">
                        <h5 cCardTitle>Paolo Celada</h5>
                        <small style="font-style: italic;">CEO - Frontend Developer - Social Media Manager</small>
                        <div class="d-grid gap-2">
                            <button cButton color="dark" size="sm">
                                <a href="https://github.com/PaoloCelada" class="github-link" target="_blank">
                                    <img src="./assets/images/others/github_logo.png" alt="Github logo" class="github-logo" />
                                    paocela
                                </a>
                            </button>
                        </div>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col xs="6" md="4" lg="4" class="mb-4 mb-md-0">
                    <c-card style="width: 100%;">
                    <img [cCardImg]="'top'" src='./assets/images/avatars/FASTman.png' alt="Federico Degioanni's avatar" />
                    <c-card-body style="height: 100%;">
                        <h5 cCardTitle>Federico Degioanni</h5>
                        <small style="font-style: italic;">CFO - Graphics Designer</small>
                        <div class="d-grid gap-2">
                            <button cButton color="dark" size="sm">
                                <a href="https://github.com/FAST-man-33" class="github-link" target="_blank">
                                    <img src="./assets/images/others/github_logo.png" alt="Github logo" class="github-logo" />
                                    FAST-man-33
                                </a>
                            </button>
                        </div>
                    </c-card-body>
                    </c-card>
            </c-col>
            <c-col xs="6" md="4" lg="4" class="mb-4 mb-md-0">
                    <c-card style="width: 100%;">
                    <img [cCardImg]="'top'" src='./assets/images/avatars/Dreandos.png' alt="Andrea Dominici's avatar" />
                    <c-card-body style="height: 100%;">
                        <h5 cCardTitle>Andrea Dominici</h5>
                        <small style="font-style: italic;">CTO - Full Stack Developer</small>
                        <div class="d-grid gap-2">
                            <button cButton color="dark" size="sm">
                                <a href="https://github.com/DomiJAR" class="github-link" target="_blank">
                                    <img src="./assets/images/others/github_logo.png" alt="Github logo" class="github-logo" />
                                    DomiJAR
                                </a>
                            </button>
                        </div>
                    </c-card-body>
                    </c-card>
            </c-col>
        </c-row>
    </c-col>
    <c-col xs="1" md="2" lg="2">
    </c-col>
</c-row>
<c-row class="row-spacing">
    <a >
    <ul>
        <li><em>Organizzare un campionato, mantenere una pagina Instagram e creare un sito richiede tempo, sudore e tante best****e 🤬</em></li>
        <li><em>I premi costano e gli sponsor ancora non si vedono 😴</em></li>
        <li><em>Se vi fa piacere supportate questo progettino con il pulsante qui sotto, che siano 1, 2 o MILLE MILIONI di euro 🤑</em></li>
    </ul>
    </a>
</c-row>
<c-row class="row-spacing">
    <c-col xs="1" md="3" lg="3"></c-col>
    <c-col xs="10" md="6" lg="6">
        <div class="satispay-container">
            <a href="https://web.satispay.com/download/qrcode/S6Y-SVN--A65A664A-987B-4E85-82FC-BF444D1D0FC7?locale=it" class="satispay-button">
                <span class="satispay-icon-wrapper">
                    <img src="./assets/images/others/satispay_logo.png" alt="Satispay logo" class="satispay-icon">
                </span>
                <span>Offrici un <strong>caffè</strong> ☕</span>
            </a>
        </div>
    </c-col>
    <c-col xs="1" md="3" lg="3"></c-col>
</c-row>
<c-row class="row-spacing">
</c-row>
