<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form>
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <span *ngIf="loginError" class="text-medium-emphasis error">{{loginErrorMessage}}</span>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input (keyup)='loginError = false'
                        #emailInput
                        (paste)="setFormValue(emailInput.value, 'email')" 
                        (keyup)="setFormValue(emailInput.value, 'email')"
                        autoComplete="email"
                        type="email"
                        name="email"
                        required
                        class="form-control"
                        id="email1"
                        placeholder="Your e-mail" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input (keyup)='loginError = false' autoComplete="password" cFormControl required 
                        #passwordInput
                        (paste)="setFormValue(passwordInput.value, 'password')" 
                        (keyup)="setFormValue(passwordInput.value, 'password')"
                        type="password"
                        name="password"
                        class="form-control"
                        id="password1"
                        placeholder="Your password">
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button (click)="login()" cButton class="px-4" color="primary">
                      Login
                      <i *ngIf="loginLoading" class="spinner-grow spinner-grow-sm"></i>
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link" disabled>
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Welcome To GoZisk</h2>
                <p>
                  GoZisk is a pioneering company in cryptocurrency arbitrage, utilizing advanced technology and expert knowledge to enable users to capitalize on price disparities across exchanges, offering a secure and seamless platform for maximizing profits with minimal risk.
                </p>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
