<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <c-card class="mx-4 text-center">
          <c-card-body class="p-4">
            <h1>Your password has been changed</h1>
            <p class="text-body-secondary">
              Your password has been successfully changed. You can now log in with your new
              password.
            </p>
            <div class="d-grid">
              <a cButton class="w-100" color="primary" routerLink="/authentication/login">
                Back to Login
              </a>
            </div>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
