<c-nav variant="underline-border" class="border-bottom w-100">
  <c-nav-item>
    <a [active]="true" [fragment]="fragment()" [routerLink]="" cNavLink>
      <svg cIcon class="me-2" name="cilMediaPlay"></svg>
      Preview
    </a>
  </c-nav-item>
  <c-nav-item>
    <a [href]="href()" cNavLink target="_blank">
      <svg cIcon class="me-2" name="cilCode"></svg>
      Code
    </a>
  </c-nav-item>
</c-nav>
<div class="tab-content rounded-bottom">
  <div class="tab-pane active show p-3 preview fade">
    <ng-content />
  </div>
</div>
