<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <h4 class="card-title text-center" id="users">
          Gestión de Indicadores
        </h4>
        <div class="d-flex justify-content-between align-items-center">
          <input
            type="text"
            class="form-control w-25 ms-md-2 mb-3"
            placeholder="Buscar..."
          />

          <a
            cButton
            routerLink="/addIndicators"
            routerLinkActive="active"
            color="success"
            class="text-white ms-md-2 mb-3"
          >
            Agregar Indicador
          </a>
        </div>

        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary text-center">Nombre</th>
              <th class="bg-body-tertiary text-center">Indice</th>
              <th class="bg-body-tertiary text-center">Descripción</th>
              <th class="bg-body-tertiary text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            @for (ind of indicators | paginate : { itemsPerPage:
            pagination.take, currentPage: pagination.page,
            totalItems:pagination.itemCount }; track ind.id; let i = $index) {
            <tr>
              <td class="text-center">
                {{ ind.name }}
              </td>
              <td class="text-center">
                {{ ind.index }}
              </td>
              <td class="text-center my-5">
                {{ ind.description }}
              </td>
              <td class="text-center">
                <div class="fw-semibold text-nowrap">
                  <a
                    cButton
                    (click)="redirectToEdit(ind.id)"
                    color="warning"
                    variant="outline"
                    class="mx-1"
                  >
                    <svg cIcon class="icon icon-lg" name="cilPencil"></svg>
                  </a>
                  <button
                    cButton
                    [cModalToggle]="staticBackdropModal.id"
                    (click)="toggleLiveDemo(ind.id)"
                    color="danger"
                    variant="outline"
                    class="mx-1"
                  >
                    <svg cIcon class="icon icon-lg" name="cilTrash"></svg>
                  </button>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>

        <div class="pagination-container">
          <pagination-controls
            (pageChange)="setPage($event)"
            previousLabel=""
            nextLabel=""
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
          ></pagination-controls>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal">
  <c-modal-header>
    <h5 cModalTitle>¿Estás seguro de eliminar?</h5>
    <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Esta acción no se puede deshacer</c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="staticBackdropModal.id" cButton color="secondary">
      Cancelar
    </button>
    <button
      cButton
      (click)="deleteIndicator()"
      [cModalToggle]="staticBackdropModal.id"
      color="primary"
    >
      Aceptar
    </button>
  </c-modal-footer>
</c-modal>
