<!-- products-overview.component.html -->
 <c-container breakpoint="sm">
    <c-row [xs]="1" [sm]="2" [md]="4" [gutter]="2">
        <c-col *ngFor="let product of products | async">
            <c-card cCardImg="top">
                <c-card-header>
                  {{ product.name | titlecase }}
                </c-card-header>
                <c-card-body>
                    <carousel class="carousel-container-overview">
                        <slide *ngFor="let picture of product.imagesUrl;let i=index">
                            <img cImg fluid [src]="picture"/>                          
                        </slide>
                    </carousel>    
                    <div>
                      <p>
                        <span><strong>Codice: </strong><em>{{product.code}}</em></span><br>
                        <span><strong>Tipo: </strong><em>{{product.type}}</em></span>
                      </p>
                      <p><strong>Descrizione: </strong><em>{{ product.description.substring(0,50) }} ...</em></p>                    
                      <p><strong>Prezzo: </strong><em>{{product.currency}}{{ product.unitPrice }}</em></p>
                      <p>
                        <span><strong>Stock: </strong><em>{{product.stock}}</em></span><br>
                        <span><strong>Aggiornato: </strong>+{{product.stockLastIncrement}} {{product.stockLastUpdateDate | date}}</span>
                      </p>
                    </div>
                </c-card-body>
            </c-card>      
        </c-col>
    </c-row>
 </c-container>