<div>
  <c-container class="m-2">
    <c-row>
      <c-col xs="auto" class="me-auto">
        <table class="mb-3 border border-primary rounded custom-table">
          <tr>
            <td rowspan="2">
              <div>
                <c-avatar
                  [size]="'xl'"
                  [src]="avatarSrc"
                />
              </div>
            </td>
            <th>
              <div>
                <h3>{{ user().username }}</h3>
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div>
                <h5 [ngStyle]="{ color: 'green' }">
                  Punteggio: {{ userFantaPoints() }}
                </h5>
              </div>
            </th>
          </tr>
        </table>
      </c-col>
      <c-col>
        <div class="d-grid gap-2 d-md-block align">
          <button (click)="toggleModalRanking()" cButton class="me-md-2">Classifica Fanta</button>
          <button (click)="toggleModalRules()" cButton color="info">Regolamento</button>
        </div>
      </c-col>
    </c-row>
  </c-container>
  <c-container>
    <c-row>
      <h2 class="mt-4 text-center">Votazioni gare future</h2>
      <p class="lead text-center">
        In questa sezione puoi inserire le votazione per le prossime 4 gare
      </p>
    </c-row>
    <c-row>
      <c-accordion>
        @for (track of nextTracks(); track track.track_id) {
          <c-accordion-item
            #item0="cAccordionItem"
            [visible]="false"
          >
            <strong>{{ track.name }}</strong>
            <ng-template cTemplateId="accordionHeaderTemplate">
              <button
                (click)="item0.toggleItem()"
                [collapsed]="!item0.visible"
                cAccordionButton
              >
                <c-container>
                  <c-row>
                    <c-col xs="auto" class="me-auto">
                      <h5 class="card-title mb-0" id="traffic">
                        <svg
                          class="mx-1"
                          size="lg"
                          [cIcon]="allFlags[track.country]"
                        ></svg>
                        <strong>{{ track.name }}</strong>
                        <svg
                          class="mx-1"
                          size="lg"
                          [cIcon]="allFlags[track.country]"
                        ></svg>
                      </h5>
                    </c-col>
                    <c-col xs="auto">
                      <div class="small">
                          @if (hasNoData(track.track_id)) {
                            <c-badge color="warning">Votazione<br>Mancante</c-badge>
                          }
                          @if (hasUnsavedData(track.track_id)) {
                              <c-badge color="danger">NON<br>Salvato</c-badge>
                          }
                          @if (formStatus()[track.track_id] == 1) {
                              <c-badge color="success">Salvato</c-badge>
                          }
                      </div>
                    </c-col>
                    <c-col xs="auto">
                      <div class="small">
                        {{ track.date | date : "dd/MM/yyyy" }}
                      </div>
                    </c-col>
                  </c-row>
                </c-container>
              </button>
            </ng-template>
            <ng-template cTemplateId="accordionBodyTemplate">
              <div class="accordion-body">
                <form #form="ngForm" cForm (ngSubmit)="publishVoto(track.track_id, form)">
                 <c-container>
                    @for (posizione of posizioni | keyvalue; track posizione.key) {
                      <c-row
                        class="my-2 position-row"
                        [gutter]="{g: 2, sm: {g: 3}}"
                      >
                        <c-col xs="5" sm="3" md="auto" class="position-label">
                          <strong class="text-nowrap">
                            @if (posizione.key <= 8) {
                              {{ posizione?.value }} posto
                            } @else {
                              {{posizione?.value}}
                            }
                          </strong>
                          @if (posizione.key <= 3) {
                            <img
                              class="cIcon medal-icon"
                              attr.src="assets/medals/{{ medals.get(posizione.key) }}"
                            />
                          }
                          @if (posizione.key == 9) {
                            <svg [cIcon]="fireIcon" class="position-icon" style="color: purple"></svg>
                          }
                          @if (posizione.key == 10) {
                            <svg [cIcon]="powerIcon" class="position-icon" style="color: red"></svg>
                          }
                          @if (posizione.key == 11) {
                            <svg [cIcon]="teamIcon" class="position-icon" style="color: blue"></svg>
                          }
                        </c-col>
                        <c-col xs="7" sm="9" md="auto" class="ms-auto select-col">
                          @if (posizione.key <= 10) {
                            <select
                              attr.aria-label="seleziona il pilota che arrivera {{posizione?.value}}"
                              attr.id="{{ track.track_id + posizione.key }}"
                              [ngModel]="getVoto(track.track_id, posizione.key)"
                              (ngModelChange)="setVoto(track.track_id, posizione.key, $event, form)"
                              name="voto{{ track.track_id + posizione.key }}"
                              cSelect
                              cFormControl
                              required="true"
                            >
                              <option value="0">-- Seleziona un pilota --</option>
                              @for (pilota of piloti(); track pilota.driver_id) {
                                <option attr.value="{{ pilota.driver_id }}">
                                  {{ pilota.driver_username }}
                                </option>
                              }
                            </select>
                          } @else {
                            <select
                              aria-label="seleziona il team vincente"
                              attr.id="{{ track.track_id + posizione.key }}"
                              [ngModel]="getVoto(track.track_id, posizione.key)"
                              (ngModelChange)="setVoto(track.track_id, posizione.key, $event, form)"
                              name="voto{{ track.track_id + posizione.key }}"
                              cSelect
                              cFormControl
                              required="true"
                            >
                              <option value="0">-- Seleziona un team --</option>
                              @for (constructor of constructors() | keyvalue; track constructor.key) {
                                <option attr.value="{{ constructor.key }}">
                                  {{ constructor.value }}
                                </option>
                              }
                            </select>
                          }
                        </c-col>
                      </c-row>
                    }
                    <c-row class="submit-row">
                      <c-col class="text-center">
                        <button 
                          cButton 
                          type="submit" 
                          class="confirm-button"
                          [disabled]="isLoading(track.track_id)">
                          @if (isLoading(track.track_id)) {
                            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                            Salvataggio...
                          } @else {
                            Conferma
                          }
                        </button>
      	              </c-col>
                    </c-row>
                    <c-row class="status-row">
                      <c-col class="text-center">
                          @if (formStatus()[track.track_id] == 2) {
                            <div class="error">
                              @if (validationDetails()[track.track_id]?.hasEmptyVotes) {
                                <p class="mb-1">
                                  <c-badge color="danger">Errore: alcuni campi sono vuoti o non sono stati selezionati</c-badge>
                                </p>
                              }
                              @if (validationDetails()[track.track_id]?.hasDuplicates) {
                                <p class="mb-1">
                                  <c-badge color="danger">Errore: hai selezionato lo stesso pilota più volte</c-badge>
                                </p>
                              }
                            </div>
                          }
                          @if (formStatus()[track.track_id] == 3) {
                            <p class="error">
                              <c-badge color="danger">Errore nel salvataggio: contattare l'assistenza :(</c-badge>
                            </p>
                          }
                          @if (formStatus()[track.track_id] == 1) {
                            <p class="success">
                              <c-badge color="success">Preferenze salvate correttamente :)</c-badge>
                            </p>
                          }
                      </c-col>

                    </c-row>
                  </c-container>
                </form>
              </div>
            </ng-template>
          </c-accordion-item>
        }
      </c-accordion>
    </c-row>
  </c-container>
  @if (previusTracks().length > 0) {
    <c-container>
      <c-row>
        <div class="titolo">
          <h2 class="mt-4 text-center titolo">Storico Votazioni</h2>
          <p class="lead text-center">
            In questa sezione puoi visualizzare i punti guadagnati
          </p>
        </div>
      </c-row>

      <c-row class="storico">
        <c-accordion>
          @for (track of previusTracks(); track track.track_id) {
            <c-accordion-item
              #item0="cAccordionItem"
              [visible]="false"
            >
              <strong>{{ track.name }}</strong>
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button
                  (click)="votazioni().has(track.track_id) ? item0.toggleItem() : null"
                  [collapsed]="!item0.visible"
                  cAccordionButton
                >
                  <c-container>
                    <c-row>
                      <c-col xs="auto" class="me-auto">
                        <h5 class="card-title mb-0" id="traffic">
                          <svg
                            class="mx-1"
                            size="lg"
                            [cIcon]="allFlags[track.country]"
                          ></svg>
                          <strong>{{ track.name }}</strong>
                          <svg
                            class="mx-1"
                            size="lg"
                            [cIcon]="allFlags[track.country]"
                          ></svg>
                        </h5>
                      </c-col>
                      @if(!votazioni().has(track.track_id)){
                        <c-col xs="auto">
                          <div class="small">
                            <c-badge color="danger">Votazione<br>non effettuata</c-badge>
                          </div>
                        </c-col>
                      }
                      <c-col xs="auto">
                        <div class="small">
                          {{ track.date | date : "dd/MM/yyyy" }}
                        </div>
                      </c-col>
                    </c-row>
                  </c-container>
                </button>
              </ng-template>
              @if (votazioni().has(track.track_id)) {
                <ng-template cTemplateId="accordionBodyTemplate">
                  <div class="accordion-body">
                    <c-container>
                      <c-row>
                        <app-vote-history-table 
                          [fantaVote]="getFantaVoteObject(track.track_id)" 
                          [trackId]="track.track_id"
                          [showTotalPoints]="true">
                        </app-vote-history-table>
                      </c-row>
                    </c-container>
                  </div>
                </ng-template>
              }
            </c-accordion-item>
          }
        </c-accordion>
      </c-row>
    </c-container>
  }
</div>
<c-modal id="liveDemoModal" [visible]="modalRankingVisible()">
  <c-modal-header>
    <h5 cModalTitle>Classifica Fanta</h5>
    <button (click)="toggleModalRanking()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-leaderboard></app-leaderboard>
  </c-modal-body>
</c-modal>
<c-modal id="rulesModal" [visible]="modalRulesVisible()" size="lg">
  <c-modal-header>
    <h5 cModalTitle>Regolamento Punteggi Fanta</h5>
    <button (click)="toggleModalRules()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-fanta-rules></app-fanta-rules>
  </c-modal-body>
</c-modal>