<c-card class="albo-container">
  <!-- Header -->
  <header class="albo-header">
    <h1>{{ championshipTitle() }}</h1>
  </header>

  <!-- Podio -->
  <section class="podio">
    @for (pilota of podio(); track pilota.nome; let i = $index) {
      <div
        class="podio-card"
        [class.first]="i === 0"
        [class.second]="i === 1"
        [class.third]="i === 2"
        [style.order]="i === 0 ? 1 : i === 1 ? 0 : 2"
        [style.--podio-card-bg]="'linear-gradient(to bottom,' + pilota.colore + ', #111)'"
      >
        <div class="numero">{{ i + 1 }}</div>
        <img
          [src]="pilota.img"
          [alt]="pilota.nome"
          class="pilota-img"
          [class.img-first]="i === 0"
          [class.img-small]="i !== 0"
        />
        <div class="info">
          <span class="nome">{{ pilota.nome }}</span>
          <span class="nome">{{ pilota.punti }} Pt</span>
        </div>
      </div>
    }
  </section>

  <!-- Classifica -->
  <section class="classifica">
    <table
      [hover]="true"
      [responsive]="true"
      [striped]="true"
      align="middle"
      cTable
      class="mb-0 border"
    >
      <tbody>
        @for (p of classifica(); track p.nome; let i = $index) {
          <tr>
            <td class="pos">#{{ podio().length + i + 1 }}</td>
            <td class="nome-table">{{ p.nome }}</td>
            <td class="punti-table">{{ p.punti }} Pt</td>
          </tr>
        }
      </tbody>
    </table>
  </section>
</c-card>