<c-container [fluid]="true">
    <c-row class="justify-content-center">
        <c-col>
            <!--Breadcrumb -->
            <h4>User Profile</h4>
            <c-breadcrumb>
                <c-breadcrumb-item>
                    <a routerLink="/">Home</a>
                </c-breadcrumb-item>
                <c-breadcrumb-item [active]="true">User Profile</c-breadcrumb-item>
            </c-breadcrumb>
        </c-col>
    </c-row>
    <c-row [gutter]="{gx: 8}">
        <c-col md="4">
            <c-card [color]="'info'" [textColor]="'info'">
                <c-card-body  class="text-center rounded-top">
                    <c-avatar size="lg" [src]="userPhotoUrl">
                        <!--<img cCardImg="top" src="./assets/img/avatars/8.jpg">-->
                    </c-avatar>
                    <h5 class="text-white" cCardTitle>{{getDisplayName()}}</h5>
                    <h5 class="text-white" cCardTitle>{{email}}</h5>
                    <h6 cCardSubtitle class="mb-2 text-medium-emphasis text-light">
                        {{getSupplier()}}
                    </h6>
                </c-card-body>
            </c-card>
        </c-col>
        <c-col md="8">
          <c-card>
            <c-nav layout="fill" variant="pills">
                <c-nav-item>
                  <a [active]="activeTab === 'my-messages'" routerLink="my-messages" cNavLink>Messages</a>
                </c-nav-item>
                <c-nav-item>
                    <a [active]="activeTab === 'edit'" routerLink="edit" cNavLink>Edit Profile</a>
                </c-nav-item>  
            </c-nav>
            <c-card-body  class="text-center rounded-top">
                <router-outlet></router-outlet>
            </c-card-body>    
          </c-card>
        </c-col>
    </c-row>
</c-container>