<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">100</div>
          <div>Total Applications</div>
          <br>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
          </div>
          <div class="text-value">90</div>
          <div>Total Approvals</div>
          <br>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
          </div>
          <div class="text-value">50</div>
          <div>Total LOC</div>
          <br>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header"><i class="fa fa-align-justify"></i> Striped Table</div>
      <div class="card-body">
        <table class="table table-responsive-sm table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Business name</th>
              <th>Shareholder name</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2012/01/01</td>
              <td>Company A</td>
              <td>Yiorgos Avraamu</td>
              <td><span class="badge badge-success">Active</span></td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".cd-example-modal-lg">Open Record</button>
                <div class="modal fade cd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6 ml-auto">
                            <h4>Heading</h4>
                            <p>Application input</p>
                          </div>
                          <div class="col-md-6 ml-auto">
                            <h4>Heading</h4>
                            <p>Application input</p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Approve</button>
                        <button type="button" class="btn btn-danger">Decline</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>2012/01/01</td>
              <td>Company A</td>
              <td>Avram Tarasios</td>
              <td><span class="badge badge-danger">Banned</span></td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".cd-example-modal-lg">Open Record</button>
                <div class="modal fade cd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Modal body text goes here.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Approve</button>
                        <button type="button" class="btn btn-danger">Decline</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>2012/01/01</td>
              <td>Company A</td>
              <td>Quintin Ed</td>
              <td><span class="badge badge-secondary">Inactive</span></td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".cd-example-modal-lg">Open Record</button>
                <div class="modal fade cd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Modal body text goes here.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Approve</button>
                        <button type="button" class="btn btn-danger">Decline</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>2012/01/01</td>
              <td>Company A</td>
              <td>Enéas Kwadwo</td>
              <td><span class="badge badge-warning">Pending</span></td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".cd-example-modal-lg">Open Record</button>
                <div class="modal fade cd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Modal body text goes here.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Approve</button>
                        <button type="button" class="btn btn-danger">Decline</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>2012/01/01</td>
              <td>Company A</td>
              <td>Agapetus Tadeáš</td>
              <td><span class="badge badge-success">Active</span></td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".cd-example-modal-lg">Open Record</button>
                <div class="modal fade cd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Modal body text goes here.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Approve</button>
                        <button type="button" class="btn btn-danger">Decline</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
