<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <c-card class="mx-4 text-center">
          <c-card-body class="p-4">
            <h1>Check your email</h1>
            <p class="text-body-secondary">
              Please click the link sent to <span class="fw-semibold">your&#64;email.com</span> to
              verify your account. Thank you!
            </p>
            <div class="d-grid">
              <a cButton class="w-100" color="primary" routerLink="/">Back to Home</a>
            </div>
            <p class="text-body-secondary mt-3 mb-0">
              Didn&rsquo;t receive an email?
              <a routerLink="/authentication/login">Resend</a>
            </p>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
