<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm>
              <h1>Reset password</h1>
              <p class="text-body-secondary">
                Enter your email address and we will send you instructions on how to reset your
                password.
              </p>
              <div class="mb-4">
                <label cLabel for="email">Email address</label>
                <input
                  autocomplete="email"
                  cFormControl
                  id="email"
                  placeholder="your@email.com"
                  type="email"
                />
              </div>
              <div class="d-grid">
                <button cButton color="primary" type="submit">Send reset instructions</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
