<c-container>
  <c-row class="justify-content-center">
    <c-col md="6">
      <c-card class="mx-4">
        <c-card-body class="p-4">
          <form cForm>
            <h1>Set new password</h1>
            <p class="text-body-secondary">Enter your new password and confirm it.</p>
            <input autocomplete="username" hidden type="text" value="user@example.com">
            <div class="mb-3">
              <label cLabel for="new-password">New password</label>
              <input
                autocomplete="new-password"
                cFormControl
                id="new-password"
                placeholder="Enter new password"
                type="password"
              />
            </div>
            <div class="mb-4">
              <label cLabel for="confirm-password">Confirm new password</label>
              <input
                autocomplete="new-password"
                cFormControl
                id="confirm-password"
                placeholder="Re-enter new password"
                type="password"
              />
            </div>
            <div class="d-grid">
              <button cButton color="primary">
                Set new password
              </button>
            </div>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
