<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="card-title" id="departments">Gestión de Departamentos</h4>
          <a
            cButton
            [routerLink]="['/create-department']"
            routerLinkActive="active"
            color="success"
            class="text-white ms-md-2 mb-3"
          >
            Agregar Departamento
          </a>
        </div>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary text-center">Id</th>
              <th class="bg-body-tertiary text-center">Nombre</th>
              <th class="bg-body-tertiary text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (department of departments; track department.id; let i =
            $index) {
            <tr>
              <td class="text-center">
                {{ department.id }}
              </td>
              <td class="text-center">
                {{ department.name }}
              </td>

              <td class="text-center">
                <div class="small text-body-secondary"></div>
                <div class="fw-semibold text-nowrap">
                  <a
                    cButton
                    (click)="redirectToEdit(department.id)"
                    routerLinkActive="active"
                    color="warning"
                    variant="outline"
                    class="mx-1"
                  >
                    <svg cIcon class="icon icon-lg" name="cilPencil"></svg>
                  </a>
                  <button
                    cButton
                    (click)="toggleModal(department.id)"
                    color="danger"
                    variant="outline"
                    class="mx-1"
                  >
                    <svg cIcon class="icon icon-lg" name="cilTrash"></svg>
                  </button>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>

        <c-pagination aria-label="Pagination" class="ms-md-2">
          <li cPageItem>
            <button cPageLink (click)="setPage(pagination.page - 1)">
              Previous
            </button>
          </li>
          <li cPageItem *ngIf="pagination.page - 4 > 0">
            <button cPageLink (click)="setPage(pagination.page - 4)">
              {{ pagination.page - 4 }}
            </button>
          </li>
          <li cPageItem *ngIf="pagination.page - 3 > 0">
            <button cPageLink (click)="setPage(pagination.page - 3)">
              {{ pagination.page - 3 }}
            </button>
          </li>
          <li cPageItem *ngIf="pagination.page - 2 > 0">
            <button cPageLink (click)="setPage(pagination.page - 2)">
              {{ pagination.page - 2 }}
            </button>
          </li>
          <li cPageItem *ngIf="pagination.page - 1 > 0">
            <button cPageLink (click)="setPage(pagination.page - 1)">
              {{ pagination.page - 1 }}
            </button>
          </li>
          <li cPageItem [active]="true">
            <button cPageLink (click)="setPage(pagination.page)">
              {{ pagination.page }}
            </button>
          </li>

          <li
            cPageItem
            *ngIf="
              pagination.page + 1 <= pagination.pageCount &&
              pagination.page - 4 <= 0
            "
          >
            <button cPageLink (click)="setPage(pagination.page + 1)">
              {{ pagination.page + 1 }}
            </button>
          </li>

          <li
            cPageItem
            *ngIf="
              pagination.page + 2 <= pagination.pageCount &&
              pagination.page - 3 <= 0
            "
          >
            <button cPageLink (click)="setPage(pagination.page + 2)">
              {{ pagination.page + 2 }}
            </button>
          </li>
          <li
            cPageItem
            *ngIf="
              pagination.page + 3 <= pagination.pageCount &&
              pagination.page - 2 <= 0
            "
          >
            <button cPageLink (click)="setPage(pagination.page + 3)">
              {{ pagination.page + 3 }}
            </button>
          </li>

          <li
            cPageItem
            *ngIf="
              pagination.page + 4 <= pagination.pageCount &&
              pagination.page - 1 <= 0
            "
          >
            <button cPageLink (click)="setPage(pagination.page + 4)">
              {{ pagination.page + 4 }}
            </button>
          </li>

          <li cPageItem *ngIf="pagination.hasNextPage">
            <button cPageLink (click)="setPage(pagination.page + 1)">
              Next
            </button>
          </li>
        </c-pagination>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-modal
  id="liveDemoModal"
  [visible]="visible"
  (visibleChange)="handleLiveDemoChange($event)"
  alignment="center"
>
  <c-modal-body class="delete-modal"
    ><h6>¿Estás seguro que deseas borrar este departamento?</h6>
    <div class="delete-modal-buttons-container">
      <button (click)="toggleModal(0)" cButton color="primary">Cerrar</button>
      <button (click)="deleteDepartment()" cButton color="danger">
        Borrar
      </button>
    </div>
  </c-modal-body>
</c-modal>
