<c-card-body>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmitCredentials()" cForm>
        <c-input-group class="mb-3">
            <span cInputGroupText>
                <svg cIcon name="cilUser"></svg>
            </span>
            <input formControlName="displayName" autoComplete="nick name" cFormControl placeholder="nick name" />
            <span>
                <small class="form-text text-danger"
                    *ngIf="getControlErrors('displayName') !== null">{{getCntrolErroMessage('displayName')}}</small>
            </span>
        </c-input-group>
        <c-input-group class="mb-3">

            <input type="file" class="file-input" (change)="onProfilePhotoSelected($event)" accept=".png,.jpg"
                #fileUpload>

            <span cInputGroupText>
                <svg cIcon name="cilImage"></svg>
            </span>
            <input formControlName="profilePhoto" cFormControl placeholder="select a photo profile" />

            <button (click)="fileUpload.click()" [active]="true" [color]="'primary'" [disabled]="formGroup.disabled"
                cButton class="me-1">
                <svg cIcon class="me-2" name="cilBrowser"></svg>
            </button>
            <span>
                <small class="form-text text-danger"
                    *ngIf="getControlErrors('profilePhoto') !== null">{{getCntrolErroMessage('profilePhoto')}}</small>
            </span>
            <div>
                <c-progress class="mb-3" *ngIf="showProgressImageProfile">
                    <c-progress-bar [value]="(uploadProgress | async)" variant="striped" color="info">{{(uploadProgress
                        | async)}}%</c-progress-bar>
                </c-progress>
            </div>
        </c-input-group>
        <c-input-group class="mb-3">
            <span cInputGroupText>
                <svg cIcon name="cilPhone"></svg>
            </span>
            <input type="text" formControlName="phone" placeholder="phone number" (blur)="startPhonNumberVerification()" cFormControl />
            <span>
                <small class="form-text text-danger"
                    *ngIf="getControlErrors('phone') !== null">{{getCntrolErroMessage('phone')}}</small>
            </span>
        </c-input-group>
        <c-input-group class="mb-3">
            <div id="recaptcha" #recaptcha>
            </div>
            <input formControlName="otp" (blur)="updatePhoneNumber()" *ngIf="verificationPhoneId !== ''" cFormControl
                placeholder="OTP code received via sms" #otp />
            <span>
                <small class="form-text text-danger"
                    *ngIf="verificationPhoneId !== '' && getControlErrors('otp') !== null">{{getCntrolErroMessage('otp')}}</small>
            </span>
        </c-input-group>
        <!--     <c-input-group class="mb-3">
        <span cInputGroupText>
          <svg cIcon name="cilLockLocked"></svg>
        </span>
        <input formControlName="password" autoComplete="new-password" cFormControl placeholder="Password" type="password" />
        <span>
         <small class="form-text text-danger" *ngIf="getControlErrors('password')">{{getCntrolErroMessage('password')}}</small>
       </span>
      </c-input-group>-->
        <!--<c-input-group class="mb-3">
        <span cInputGroupText>
          <svg cIcon name="cilLockLocked"></svg>
        </span>
        <input formControlName="confirmpassword" autoComplete="new-password" cFormControl placeholder="Repeat password" type="password" />
       <span>
         <small class="form-text text-danger" *ngIf="getControlErrors('confirmpassword')">{{getCntrolErroMessage('confirmpassword')}}</small>
       </span>
      </c-input-group>-->
        <div class="d-grid">
            <button type="submit" [disabled]="formGroup.invalid" cButton color="success">Submit changes</button>
        </div>
    </form>
</c-card-body>


