@if(isLoading){
<div class="spinner-overlay">
    <div class="loader"></div>
</div>
}
<c-row class="g-4">
  @if(searchProductTxt){
    <p style="color: red;">You want to search : {{searchProductTxt}}</p>
  }
@for (product of resObject; track product._id) {
   <c-col sm="6" xl="3">
    <!-- <c-widget-stat-a> -->
    @if(searchProductTxt === '' ||
                 product.category.toLowerCase().includes(searchProductTxt) ||
                 product.title.toLowerCase().includes(searchProductTxt)){
      <div style="border: 1px solid black;padding: 10px;border-radius: 10px; background-color: white;width: 300px; height: 300px;">
        <img style="background-size: cover;background-repeat: no-repeat; height: 100px;" [src]="product.image" [alt]="product.title">
        <p>Title : {{product.title}}</p>
        <p>Price : {{product.price}}</p>
        <p>Rating: {{product.rating}}</p>
        <!-- <p>Description : {{product.description}}</p> -->
       @if(decodedTxt?.isAdmin){
          <div style="display: flex; justify-content: space-around;">
                    <button (click)="handleShow(product._id)">Show</button>
                    <button (click)="handleEdit(product._id)">Edit</button>
                    <button (click)="handleDelete(product._id)">Delete</button>
          </div>
       }@else{
          <button (click)="handleAddToCart(product)">Buy Now</button>
       }
      </div>
    }

    <!-- </c-widget-stat-a> -->
  </c-col>
  } @empty {
    <p>No Product found.</p>
  }
</c-row>
