:host {
    .legend {
      small {
        font-size: x-small;
      }
    }
  }
  
  .table-wrapper {
    margin: 0 auto; 
    max-width: 60%; 
  }
  
  .custom-th-style {
    text-align: center;
    padding: 0;
    margin: -5px auto 0 auto; 
    width: 60px;
  }