<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-body>
          <div class="table-container">
            <div class="d-flex justify-content-between mb-3">
              <input type="text" class="form-control" style="max-width: 50%;" placeholder="Buscar...">
              <button class="btn btn-primary bg-success">Agregar</button>
          </div>
            <table class="table table-hover table-responsive table-striped align-middle mb-0 border">
              <thead class="text-nowrap text-truncate">
                <tr>
                  <th class="bg-body-tertiary">Numero</th>
                  <th class="bg-body-tertiary">Nombre</th>
                  <th class="bg-body-tertiary">Índice</th>
                  <th class="bg-body-tertiary">Acción</th>
                </tr>
              </thead>
              <tbody>
                @for (user of users; track user.name; let i = $index)
                {
                <tr>
                  <td class="text-center" style="width: 10%;">
                    <span id="numeroCreciente">{{i + 1}}</span>
                </td>         
                  <td style="width: 30%;">
                    <div>{{ user.name }}</div>
                  </td>
                  <td class="text-center" style="width: 60%; vertical-align: 10%;">
                    <span>{{i + 1}}</span>
                  </td>
                  <td style="width: 40%;">
                    <div class="d-flex flex-column align-items-end">
                      <div class="d-flex align-items-center">
                        <button class="btn btn-sm btn-outline-warning">
                          <svg cIcon name="cil-pencil"></svg>
                        </button>
                        <button [cModalToggle]="staticBackdropModal.id" class="btn btn-sm btn-outline-danger ms-2">
                          <svg cIcon name="cil-trash"></svg>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>           
          </div>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

<c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal">
  <c-modal-header>
    <h5 cModalTitle>¿Estás seguro de eliminar?</h5>
    <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Esta acción no se puede deshacer</c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="staticBackdropModal.id" cButton color="secondary">
      Cancelar
    </button>
    <button cButton color="primary">Aceptar</button>
  </c-modal-footer>
</c-modal>